/*It is important to define the structure of your grid by using the grid-template-columns property on a grid container. The number of parameters indicates the number of columns in the grid. The value of each parameter indicates the width of each column.*/
<style>
  .d1{background:LightSkyBlue;}
  .d2{background:LightSalmon;}
  .d3{background:PaleTurquoise;}
  .d4{background:LightPink;}
  .d5{background:PaleGreen;}

  .container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
    display: grid;
    /* add your code below this line */
    .cotainer {
      display: grid;
      grid-template-columns: 100px 100px 100px;
    }

    /* add your code above this line */
  }
</style>

<div class="container">
  <div class="d1">1</div>
  <div class="d2">2</div>
  <div class="d3">3</div>
  <div class="d4">4</div>
  <div class="d5">5</div>
</div>
